@font-face {
	font-family: 'Theinhardt';
	src: url('type/TheinhardThin.otf') format('embedded-opentype');
}
@font-face {
	font-family: 'Theinhardt';
	font-weight: 300;
	src: url('type/TheinhardLight.otf') format('embedded-opentype');
}
@font-face {
	font-family: 'Theinhardt';
	font-weight: 400;
	src: url('type/TheinhardReg.otf') format('embedded-opentype');
}
@font-face {
	font-family: 'Theinhardt';
	font-weight: 400;
	font-style: italic,
	src: url('type/TheinhardRegIt.otf') format('embedded-opentype');
}
@font-face {
	font-family: 'Theinhardt';
	font-weight: 500;
	src: url('type/TheinhardMed.otf') format('embedded-opentype');
}
@font-face {
	font-family: 'Theinhardt';
	font-weight: 700;
	src: url('type/TheinhardBold.otf') format('embedded-opentype');
}
@font-face {
	font-family: 'B3Goudy';
	src: url('type/B3GoudyOldStyle.otf') format('embedded-opentype');
}