.element {
	margin-bottom: $gutter200; 
}


.newsItem {
	@include clearfix();
	margin-bottom: $lh150;
	border-bottom: $border1; 
}
.newsItem__img {
	display: block;
	background: $color-tan50;
	float: right; 
}
.newsItem__column {
	@include fontColumn(default);
	margin-bottom: $lh75;
}
.newsItem__title {
	@include fontHeadline(default)
}
.newsItem__author {
	@include fontAuthor();
	margin-bottom: 10px;
	color: $color-slate50;
}
.newsItem__preview {
	margin-bottom: $lh75 - 1; 
	line-height: 20px;
}



.newsItem.is-thumb {
	.newsItem__img {
		height: 70px;
		width: 105px; 
		margin-top: 4px; 
		margin-right: $gutter100;
		margin-bottom: $gutter200;
	}
}



.newsItem.is-feature {
	.newsItem__title {
		@include fontHeadline(featured);
	}
	.newsItem__img {
		width: 100%;
		height: 300px;
		margin-bottom: $gutter100;
	}
}
.newsItem.is-feature2 {
	.newsItem__title {
		@include fontHeadline(featured);
	}
	.newsItem__img {
		width: 100%;
		height: 300px;
		margin-bottom: $gutter100;
	}	
}


.newsItem.is-sponsored {
	padding: $gutter150 $gutter150 $gutter50; 
	background: $color-tan50; 
	border: 0; 
	.newsItem__img 	 	{ 
		height: 70px;
		width: 105px; 
		margin-top: 4px; 
		float: right; 
	}
	.newsItem__title	{ @include fontHeadline(sponsored); }
	.newsItem__column	{ color: $color-textHighlight; }
	.newsItem__preview 	{ margin-bottom: $lh75; }

}



.newsItem.is-noimg {
	border-bottom: $border1; 
	margin-bottom: $gutter100;	

	.newsItem__column {
		@include fontColumn(default);
		margin-bottom: $lh25;
	}
	.newsItem__author {
		@include fontAuthor();
		margin-bottom: $lh25;
		color: $color-slate50;
	}
	.newsItem__title {
		font-family: $fontFamily-sans;
		font-size: 14px; 
		line-height: 20px;
		font-weight: 500;
		margin-bottom: $lh50 - 1; 
	}
	.newsItem__timestamp {
		@include fontTimestamp();
		margin-bottom: $gutter100; 
		margin-left: 5px; 
	}
}



.newsItem.is-column {
	.newsItem__column {
		margin-top: $gutter100;
		margin-bottom: 6px; 
	}
	.newsItem__author {
		margin-bottom: $gutter250;
	}
	.newsItem__authorimg {
		height: 60px;
		width: 60px;
		margin-right: $gutter100;
		background: $color-tan50; 
		border-radius: 100%;
		float: left; 
	}
	.newsItem__title {
		margin-bottom: $gutter200;
	}
}

.newsItem.is-light {
	.newsItem__title {
		color: white; 
	}
	.newsItem__column {
		color: $color-slate50;
	}
	.newsItem__author {
		color: $color-slate50;
	}
	.newsItem__img {
		background: $color-slate75;
	}
	.newsItem__preview {
		color: white; 
	}
}

@media screen and (min-width: $w8) {
	.newsItem.is-feature {
		.newsItem__img {
			width: 100%;  
			height: 245px; 
		}
	}
}
@media screen and (min-width: $w12) {
}
@media screen and (min-width: $w16) {
	.newsItem {
		.newsItem__img { float: left; }
	}
	.newsItem.is-feature {
		.newsItem__img {
			float: right;
			height: 215px;
			width: 300px;
			margin-left: $gutter100;
		}
	}
	.newsItem.is-feature2 {
		.newsItem__img {
			height: 215px;
			width: 300px;
		}
	}
}
@media screen and (min-width: $w20) {
}